{% load static %}
<!DOCTYPE html>
<html lang="en">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'css/bootstrap.min (1).css' %}" rel="stylesheet">
    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <i class="fa-solid fa-graduation-cap fa-lg"></i>&nbsp; Student Management System</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa-solid fa-list fa-lg"></i>&nbsp; Students Details</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa-solid fa-plus fa-lg"></i>&nbsp; Add Student
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div class="container-fluid">
            <h3 class="m-4">All Students</h3>
            <div class="row">
                <div class="col-12">
                    {% if students %}
                    <div class="card bg-light ms-4 me-4 mb-4">
                        <div class="card-header">
                            <i class="fa-solid fa-list fa-lg"></i>&nbsp; Student Records
                        </div>
                        <div class="card-body">
                          <p class="card-text">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col">Student Name</th>
                                        <th scope="col">E-mail</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">City</th>
                                        <th scope="col">State</th>
                                        <th scope="col">Country</th>
                                        <th scope="col">Mobile No.</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for student in students %}
                                        <tr>
                                            <td>{{student.student_name}}</td>
                                            <td>{{student.email}}</td>
                                            <td>{{student.address}}</td>
                                            <td>{{student.city}}</td>
                                            <td>{{student.state}}</td>
                                            <td>{{student.country}}</td>
                                            <td>{{student.mobile_no}}</td>
                                            <td>
                                                <button type="button" class="btn btn-success me-1" href="{% url 'view_student' student.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{student.id}}">
                                                    <i class="fa-solid fa-circle-info fa-lg"></i>
                                                </button>
                                                <!--Modal - View Student-->
                                                <div class="modal" id="myModal{{student.id}}" tabindex="-1" aria-labelledby="myModallabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          <h5 class="modal-title">Student: {{ student.student_name }}</h5>
                                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true"></span>
                                                          </button>
                                                        </div>
                                                        <div class="modal-body">
                                                          <ul class="list-unstyled">
                                                            <li>Student Name: <strong>{{student.student_name}}</strong></li>
                                                            <li>D.O.B: <strong>{{student.birth_date}}</strong></li>
                                                            <li>Age: <strong>{{student.age}}</strong></li>
                                                            <li>Gender: <strong>{{student.gender}}</strong></li>
                                                          </ul>
                                                        </div>
                                                        <div class="modal-footer">
                                                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                            </td>
                                        </tr>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                            </div>
                          </p>
                        </div>
                    </div>
                    {% else %}
                        <h5 class="alert alert-primary ms-4 me-4">No Student Records</h5>
                    {% endif %}
                    
                </div>
            </div>
        </div>
        <footer class="mt-auto mb-4">
            <div class="text-center">
                <span>
                    Copyright &copy; <script>document.write(new Date().getFullYear())</script> Sanika's Programming Academy
                </span>
            </div>
        </footer>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>